@{
    Layout = null;
}

<footer class="footer border-top text-muted">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="">
            <img src="./images/ArtHub.png"
                 class="w-50 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="collapse d-flex justify-content-between">
            <div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </div>
            <div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Artworks</a>
            </div>
            <div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Creators</a>
            </div>
            <div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contact</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex flex-column align-items-end">
            <div>
                <h5 class="fw-light mt-3 mb-0">Follow Us</h5>
            </div>
            <div>
                <ul class="list-unstyled d-flex justify-content-end">
                    <li>
                        <a class="text-white text-decoration-none text-muted fs-4 me-4">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>                        
                    <li>
                        <a class="text-white text-decoration-none text-muted fs-4 me-4">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none text-muted fs-4 me-4">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none text-muted fs-4">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100" style="height: 0.1px; background-color:#999;">
    </div>
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            &copy; 2024 ArtHub Center
        </div>
        <div>
            <ul class="list-unstyled d-flex justify-content-end">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Terms">Terms</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <li>
                    <a class="nav-link pe-0 text-dark" asp-area="" asp-page="/Cookies">Cookies</a>
                </li>
            </ul>
        </div>
    </div>           
</footer>