.layout-container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

    .layout-container aside {
        height: 100vh;
    }

    .layout-container .top {
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
    }

    .layout-container .close {
        display: none;
    }

    .layout-container .sidebar {
        background: white;
        display: flex;
        flex-direction: column;
        height: 86vh;
        position: relative;
        top: 3rem;
    }

    .layout-container h3 {
        font-weight: 500;
    }

    .layout-container .sidebar a {
        display: flex;
        color: var(--color-info-dark);
        margin-left: 2rem;
        gap: 1rem;
        align-items: center;
        position: relative;
        height: 3.7rem;
        transition: all 300ms ease;
    }

        .layout-container .sidebar a span {
            font-size: 1.6rem;
            transition: all 300ms ease;
        }

        .layout-container .sidebar a.active {
            background: var(--color-light);
            color: var(--color-primary);
            margin-left: 0;
        }

            .layout-container .sidebar a.active:before {
                content: "";
                width: 6px;
                height: 100%;
                background: var(--color-primary);
            }

            .layout-container .sidebar a.active span {
                color: var(--color-primary);
                margin-left: calc(1rem - 3px);
            }

        .layout-container .sidebar a:hover {
            color: var(--color-primary);
        }

            .layout-container .sidebar a:hover span {
                margin-left: 1rem;
            }
