@page
@model Admin.Pages.Admins.EditAccountManagementModel
@{
}
<h1>EDIT ACCOUNT</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Account.Email" />
            <div class="form-group">
                <label class="control-label">FirstName</label>
                <input asp-for="@Model.Account.FirstName" class="form-control" />
                <span asp-validation-for="Account.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="@Model.Account.LastName" class="form-control" />
                <span asp-validation-for="Account.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender</label>
                <input asp-for="@Model.Account.Gender" class="form-control" />
                <span asp-validation-for="Account.Gender" class="text-danger"></span>
            </div>
           

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>