@page
@model Admin.Pages.Admins.SettingModel
@{
    Layout = "Shared/_LayoutAdmin";

}
<header>
    <style>
        .form-container {
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .input-field {
            width: 100%;
            padding: 10px;
        }

        .btn-primary {
            width: 100%;
        }

        .btn-save {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: 1px solid #007bff;
            color: #fff;
            border-radius: 4px;
        }

            .btn-save:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }


    </style>
</header>
<form method="post" class="form-container">
    <h1>PFLATFORM SETTING</h1>
    <div class="form-group">
        <label for="commisionRate" class="input-label">Commision Rate:</label>
        <input type="number" step="0.01" class="form-control input-field" id="commisionRate" name="commisionRate" value="@Model.CommisionRate" required>
    </div>
    <button type="submit" class="btn btn-save">Save</button>
</form>
